@import 'bootstrap/_functions';
@import 'bootstrap/_variables';

$pink: #EF456A;
$real-black: #000000;
$real-white: #FFFFFF;
$real-red: #DA1E32;
$real-green: #0FA315;
$real-grey: #414143;
$real-light-grey: #EBEBEB;
$real-dark-grey: #707070;
$mac-grey: #F0F0F0;

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $mac-grey !important;
	min-height: 100vh;
}

body .py-4 {
    padding-bottom: 0 !important;
}

#booking-form .h100, #booking-form #current-page {
    min-height: calc(100vh - 124px) !important;
}

#booking-form .booking-page {
    min-height: calc(100vh - 125px) !important;
}

#booking-form #current-page {
    height: calc(100vh - 124px) !important;
}

nav {
    a{
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
	color: $real-red;
	font-weight: bold;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid #ced4da;
	border-bottom-color: $real-red;
}

.form-check-input {
	margin-left: 0;
}

.select2-container {
    width: 100% !important;

    #courses & {
        max-width: 580px !important;
    }
}

span.indent-1 {
  margin-left: 12px;
}

.card {
	background-color: $real-white;
	border-bottom: 2px solid $real-red;
	border-radius: 0;
    margin-bottom: 32px;
}

#loginCard {
	margin-top: 96px;

	h1 {
		text-align: center;
		margin-bottom: 16px;
	}
}

input[type=file] {
    display: block;
}

.edit-account {
	.buttonrow {
		padding-top: 16px;

		a {
			width: 100%;
		}
	}
}

.card-header {
    h1 {
        margin-bottom: 0;
    }
}

#page-start-1 {
    display: block;
}

.client-logo {
    max-width: 150px;
    max-height: 150px;
}

.mergefields {
  font-size: 12px;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
    #courses {
        .select2-container {
            max-width: 400px !important;
        }
    }
}
